<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Flagbit_Faq>
			<active>true</active>
			<codePool>community</codePool>
			<version>1.0.4</version>
		</Flagbit_Faq>
	</modules>
	
	<admin>
		<routers>
			<faq>
				<use>admin</use>
				<args>
					<module>Flagbit_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
		</routers>
	</admin>

	<frontend>
		<routers>
			<faq>
				<use>standard</use>
				<args>
					<module>Flagbit_Faq</module>
					<frontName>faq</frontName>
				</args>
			</faq>
		</routers>
		<translate>
			<modules>
				<Flagbit_Faq>
					<files>
						<default>Flagbit_Faq.csv</default>
					</files>
				</Flagbit_Faq>
			</modules>
		</translate>
		<layout>
			<updates>
				<faq>
					<file>faq.xml</file>
				</faq>
			</updates>
		</layout>
	</frontend>
	
	<global>
		<helpers>
			<faq>
				<class>Flagbit_Faq_Helper</class>
			</faq>
		</helpers>
		
		<blocks>
			<faq>
				<class>Flagbit_Faq_Block</class>
			</faq>
		</blocks>
		
		<models>
			<faq>
				<class>Flagbit_Faq_Model</class>
				<resourceModel>faq_mysql4</resourceModel>
			</faq>
			<faq_mysql4>
				<class>Flagbit_Faq_Model_Mysql4</class>
				<entities>
					<faq>
						<table>faq</table>
					</faq>
					<faq_store>
						<table>faq_store</table>
					</faq_store>
				</entities>
			</faq_mysql4>
		</models>
		
		<resources>
			<faq_setup>
				<setup>
					<module>Flagbit_Faq</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</faq_setup>
			<faq_write>
				<connection>
					<use>core_write</use>
				</connection>
			</faq_write>
			<faq_read>
				<connection>
					<use>core_read</use>
				</connection>
			</faq_read>
		</resources>
		
		<rewrite>
			<Flagbit_Faq>
				<from><![CDATA[#^/{adminhtml}/faq/#]]></from>
				<to>/faq/admin/</to>
			</Flagbit_Faq>
		</rewrite>
	</global>

	<adminhtml>
		<translate>
			<modules>
				<Flagbit_Faq>
					<files>
						<default>Flagbit_Faq.csv</default>
					</files>
				</Flagbit_Faq>
			</modules>
		</translate>
	</adminhtml>
	<install>
		<translate>
			<modules>
				<Flagbit_Faq>
					<files>
						<default>Flagbit_Faq.csv</default>
					</files>
				</Flagbit_Faq>
			</modules>
		</translate>
	</install>
</config>
